POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
DATABASE_URL=postgresql://user:password@localhost:5432/db

GITHUB_CLIENT_ID=changeme
GITHUB_CLIENT_SECRET=changeme
GITHUB_CALLBACK_URL=http://localhost:4300/api/auth/github/callback
ADMIN_GITHUB_ID=changeme
ADMIN_APP_URL=http://localhost:4300
